<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>커뮤니티/뉴스 및 칼럼</title>
        <link rel="stylesheet" href="/css/_header.css">
        <link rel="stylesheet" href="/css/_footer.css">
        <link rel="stylesheet" href="/css/homebar.css">
        <link rel="stylesheet" href="/css/Community/news.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <th:block th:include="/common/__header"/>
            <div class="homebar">
                <article class="inline">
                    <a href="/static/main"><img src="/images/ico-home.png" alt="homeico"></a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/Community/news">커뮤니티</a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/Community/news">뉴스 및 칼럼</a>
                </article>
            </div>
            <main>
                <article class="side">
                    <h4>커뮤니티</h4>
                        <ul>
                            <li><a href="/Community/notice">공지사항</a></li>
                            <li class="on"><a href="/Community/news" class="on">뉴스 및 칼럼</a></li>
                            <li><a href="/Community/job">취업정보</a></li>
                            <li><a href="/Community/free">자유게시판</a></li>
                            <li><a href="/Community/qa">질문과 답변</a></li>
                            <li><a href="/Community/resource">자료실</a></li>
                        </ul>
                </article>
                <article class="notice">
                    <div class="noticetop">
                        <h4>뉴스 및 칼럼</h4>
                    </div>
                    <form class="search">
                        <select class="dropdown">
                            <option>전체</option>
                            <option>제목</option>
                            <option>작성자</option>
                            <option>내용</option>
                        </select>
                        <input type="text" value="검색어를 입력해 주세요">
                        <button class="searchbtn">검색</button>
                    </form>
                    <div class="noticemain">
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>구분</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span class="column">칼럼</span></td>
                                <td>정원호(식품자원경제) 교수, 시론 - 4차 산업 시대 …</td>
                                <td>정원호</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><span class="column">칼럼</span></td>
                                <td>주윤정(법학전문대학원), 교수, 기고 - 인공지능, …</td>
                                <td>주윤정</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><span class="news">뉴스</span></td>
                                <td>그린대, ‘2024년 2학기 늘봄학교 초1 맞춤형 프로…</td>
                                <td>홍보실</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><span class="column">칼럼</span></td>
                                <td>김동헌(의학) 명예교수, 세상읽기 - 절대로 포기하…</td>
                                <td>김동헌</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                        </table>
                        <article class="pagebtn">
                            <a href=""><img src="/images/btn-first-page.png" alt="firstarr"></a>
                            <a href=""><img src="/images/btn-prev-page.png" alt="firstarr"></a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href=""><img src="/images/btn-next-page.png" alt="firstarr"></a>
                            <a href=""><img src="/images/btn-last-page.png" alt="firstarr"></a>
                        </article>
                    </div>
                </article>
            </main>
            <th:block th:include="/common/__footer"/>
        </div>
    </body>
</html>