<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>커뮤니티/공지사항</title>
        <th:block th:include="/_headerLink"/>
        <link rel="stylesheet" href="/css/Community/notice.css">
    </head>
    <body>
        <div id="wrapper">
            <th:block th:include="/common/__header"/>
            <div class="homebar">
                <article class="inline">
                    <a href="/static/main.html"><img src="/images/ico-home.png" alt="homeico"></a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/Community/notice.html">커뮤니티</a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/Community/notice.html">공지사항</a>
                </article>
            </div>
            <main>
                <article class="side">
                    <h4>커뮤니티</h4>
                        <ul>
                            <li class="on"><a href="/static/Community/notice.html" class="on">공지사항</a></li>
                            <li><a href="/static/Community/news.html">뉴스 및 칼럼</a></li>
                            <li><a href="/static/Community/job.html">취업정보</a></li>
                            <li><a href="/static/Community/free.html">자유게시판</a></li>
                            <li><a href="/static/Community/qa.html">질문과 답변</a></li>
                            <li><a href="/static/Community/resource.html">자료실</a></li>
                        </ul>
                </article>
                <article class="notice">
                    <div class="noticetop">
                        <h4>공지사항</h4>
                    </div>
                    <form class="search">
                        <select class="dropdown">
                            <option>전체</option>
                            <option>제목</option>
                            <option>작성자</option>
                            <option>내용</option>
                        </select>
                        <input type="text" value="검색어를 입력해 주세요">
                        <button class="searchbtn">검색</button>
                    </form>
                    <div class="noticemain">
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="/images/ico-new01.gif" alt="iconew">
                                    2025학년도 1학기 그린장학회 장학생 신청 안내
                                </td>
                                <td>학사지원실</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="/images/ico-new01.gif" alt="iconew">
                                    제 42회 학위수여식 안내
                                </td>
                                <td>학사지원실</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="/images/ico-new01.gif" alt="iconew">
                                    의료, 인공지능 융합인재 양성사업단 사업설명회
                                </td>
                                <td>학사지원실</td>
                                <td>24.04.09</td>
                                <td>160</td>
                            </tr>
                        </table>
                        <article class="pagebtn">
                            <a href=""><img src="/images/btn-first-page.png" alt="firstarr"></a>
                            <a href=""><img src="/images/btn-prev-page.png" alt="firstarr"></a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href=""><img src="/images/btn-next-page.png" alt="firstarr"></a>
                            <a href=""><img src="/images/btn-last-page.png" alt="firstarr"></a>
                        </article>
                    </div>
                </article>
            </main>
            <th:block th:include="/common/__footer"/>
        </div>
    </body>
</html>