<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>학교생활/갤러리</title>
        <th:block th:include="/_headerLink"/>
        <link rel="stylesheet" href="/css/life/galary.css">
    </head>
    <body>
        <div id="wrapper">
            <th:block th:include="/common/__header"/>
            <div class="homebar">
                <article class="inline">
                    <a href="/static/main.html"><img src="/images/ico-home.png" alt="homeico"></a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/life/council.html">대학생활</a>
                    <img src="/images/bg-path-arrow.png" alt="arrowright">
                    <a href="/static/life/galary.html">갤러리</a>
                </article>
            </div>
            <main>
                <aside>
                    <span>대학생활</span>
                    <nav>
                        <a href="/static/life/council.html">학생회 소개</a>
                        <a href="/static/life/study.html">동아리/스터디</a>
                        <a href="/static/life/meal.html">식단안내</a>
                        <a href="/static/life/galary.html" class="on">갤러리</a>
                    </nav>
                </aside>
                <section>
                    <span>갤러리</span>
                    <article>
                        <div>
                            <img src="/images/gallary_sample1.jpg">
                            <a href="#">제 40회 1995학년도 학위수여식</a>
                            <ul>
                                <li>조회수 23</li>&nbsp|&nbsp;
                                <li>글로벌...</li>&nbsp|&nbsp;
                                <li>25.02.20</li>
                            </ul>
                        </div>
                        <div>
                            <img src="/images/gallary_sample2.jpg">
                            <a href="#">제 40회 1995학년도 학위수여식</a>
                            <ul>
                                <li>조회수 23</li>&nbsp|&nbsp;
                                <li>글로벌...</li>&nbsp|&nbsp;
                                <li>25.02.20</li>
                            </ul>
                        </div>
                        <div>
                            <img src="/images/gallary_sample3.jpg">
                            <a href="#">제 40회 1995학년도 학위수여식</a>
                            <ul>
                                <li>조회수 23</li>&nbsp|&nbsp;
                                <li>글로벌...</li>&nbsp|&nbsp;
                                <li>25.02.20</li>
                            </ul>
                        </div>
                        <div>
                            <img src="/images/gallary_sample4.png">
                            <a href="#">제 40회 1995학년도 학위수여식</a>
                            <ul>
                                <li>조회수 23</li>&nbsp|&nbsp;
                                <li>글로벌...</li>&nbsp|&nbsp;
                                <li>25.02.20</li>
                            </ul>
                        </div>
                        <div>
                            <img src="/images/gallary_sample5.jpg">
                            <a href="#">제 40회 1995학년도 학위수여식</a>
                            <ul>
                                <li>조회수 23</li>&nbsp|&nbsp;
                                <li>글로벌...</li>&nbsp|&nbsp;
                                <li>25.02.20</li>
                            </ul>
                        </div>
                    </article>
                    <div class="page">
                        <a href="#" class="first"><img src="/images/btn-first-page.png"></a>
                        <a href="#" class="prev"><img src="/images/btn-prev-page.png"></a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="next"><img src="/images/btn-next-page.png"></a>
                        <a href="#" class="last"><img src="/images/btn-last-page.png"></a>
                    </div>
                </section>
            </main>
            <th:block th:include="/common/__footer"/>
        </div>
    </body>
</html>
