<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>학교생활/식단안내</title>
        <th:block th:include="/_headerLink"/>
        <link rel="stylesheet" href="/css/life/meal.css">
        <script src="/js/meal.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <th:block th:include="/common/__header"/>
            <div class="homebar">
                <article class="inline">
                    <a th:href="@{/}"><img th:src="@{/images/ico-home.png}" alt="homeico"></a>
                    <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                    <a th:href="@{/life/council}">대학생활</a>
                    <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                    <a th:href="@{/life/meal}">식단 안내</a>

                </article>
            </div>
            <main>
                <aside>
                    <span>식단안내</span>
                    <nav>
                        <a th:href="@{/life/council.html}">학생회 소개</a>
                        <a th:href="@{/life/study.html}">동아리/스터디</a>
                        <a th:href="@{/life/meal.html}" class="on">식단안내</a>
                        <a th:href="@{/life/galary.html}">갤러리</a>

                    </nav>
                </aside>
                <section>
                    <span>식단안내</span>
                    <article>
                        <div class="meal_date">
                            <img src="/images/btn-calendar-prev.gif" class="nav-btn" onclick="prevWeek()"> 
                            <h2> 2025.03.10 ~ 2025.03.14</h2>
                            <img src="/images/btn-calendar-next.gif" class="nav-btn" onclick="nextWeek()"> 
                        </div>
                        <table class="meal_table">
                            <tr>
                                <th>구분</th>
                                <th>2025.3.10(월)</th>
                                <th>2025.3.11(화)</th>
                                <th>2025.3.12(수)</th>
                                <th>2025.3.13(목)</th>
                                <th>2025.3.14(금)</th>
                                <th>2025.3.15(토)</th>
                            </tr>
                                <tr>
                                    <td>조식</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                </tr>
                                <tr>
                                    <td>중식<br>11:00 ~ 15:00</td>
                                    <td>
                                        <div>정식-5,500원</div><br>
                                        잡곡밥<br>
                                        꼬지어묵국<br>
                                        맛동산탕수육<br>
                                        알감자버터구이<br>
                                        쫄면야채무침<br>
                                        상추겉절이<br>
                                        포기김치
                                    </td>
                                    <td>
                                        <div>정식-5,500원</div><br>
                                        백미밥<br>
                                        호박된장국<br>
                                        돈육김치찜<br>
                                        모듬잡채<br>
                                        비엔나햄볶음<br>
                                        콩나물무침<br>
                                        포기김치
                                    </td>
                                    <td>
                                        <div>정식-5,500원</div><br>
                                        백미밥<br>
                                        반계탕<br>
                                        미트볼떡갈비<br>
                                        사각어묵<br>
                                        상추겉절이<br>
                                        포기김치
                                    </td>
                                    <td>
                                        <div>정식-5,500원</div><br>
                                        백미밥<br>
                                        홍합탕<br>
                                        치킨치즈가스<br>
                                        마파두부<br>
                                        잡채어묵조림<br>
                                        꼬시레기무생채<br>
                                        포기김치
                                    </td>
                                    <td>
                                        <div>정식-5,500원</div><br>
                                        강황밥<br>
                                        콩나물김치국<br>
                                        순살닭떡조림<br>
                                        해시브라운<br>
                                        야채샐러드<br>
                                        열무겉절이<br>
                                        포기김치
                                    </td>
                                    <td>미운영</td>
                                </tr>
                                <tr>
                                    <td>석식</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                    <td>미운영</td>
                                </tr>
                        </table>
                        <div class="greeting">※ 항상 그린식당을 이용해 주셔서 감사합니다.</div>
                    </article>
                </section>
            </main>
            <th:block th:inclcude="/common/__footer"/>
        </div>
    </body>
</html>