<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <th:block th:include="/_headerLink"/>
    <link rel="stylesheet" th:href="@{/css/user/find.css}">
    <script th:src="@{/js/user/find.js}"></script>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/__header"/>

    <div class="homebar">
        <article class="inline">
            <a href="/static/main.html"><img src="/images/ico-home.png" alt="homeico"></a>
            <img src="/images/bg-path-arrow.png" alt="arrowright">
            <a href="/static/user/login.html">회원</a>
            <img src="/images/bg-path-arrow.png" alt="arrowright">
            <a href="/static/user/login.html">아이디 찾기</a>
        </article>
    </div>
    <main>
        <article class="content">
            <div class="form-hd">
                <p>아이디 찾기</p>
            </div>
            <form name="formfindId" th:action="@{/findId}" method="post">
                <!--<div class="type-list">
                    <label><input type="checkbox" name="student" class="checkbox">학부생</label>
                    <label><input type="checkbox" name="pro" class="checkbox">교직원</label>
                    <label><input type="checkbox" name="user" class="checkbox">일반</label>
                    <input type="hidden" name="admin" class="checkbox">
                </div> -->

                <div class="form-boder">
                    <p>본인확인 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.</p>
                    <div class="name-block">
                        <label>이름<input type="text" name="name" /></label>
                        <span class="nameResult"></span> <br>
                    </div>
                    <div class="email-block">
                        <div>
                            <label>이메일<input type="email" name="email" class="email-input"/></label>
                            <button id="btnSendEmail" type="button">인증번호 받기</button>
                            <span class="emailResult"></span>
                            <div class="auth">
                                <label>인증코드<input type="text" name="auth" class="email-input" placeholder="인증번호 입력"/></label>
                                <button id="btnAuthEmail" type="button">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="다음"  class="submit"/>
            </form>

        </article>
    </main>


    <th:block th:include="/common/__footer"/>

</div>
</body>
</html>