<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 결과</title>
    <th:block th:include="/_headerLink"/>
    <link rel="stylesheet" th:href="@{/css/user/resultId.css}">
</head>
<body>
  <div id="wrapper">
    <th:block th:include="/common/__header"/>

    <div class="homebar">
      <article class="inline">
        <a href="/static/main.html"><img src="/images/ico-home.png" alt="homeico"></a>
        <img src="/images/bg-path-arrow.png" alt="arrowright">
        <a href="/static/user/login.html">회원</a>
        <img src="/images/bg-path-arrow.png" alt="arrowright">
        <a href="/static/user/login.html">아이디 찾기</a>
      </article>
    </div>

    <main>
      <article class="content">
        <div class="form-header">
          <h1>아이디 찾기 결과</h1>
          <h3>회원님의 아이디 찾기 결과입니다.</h3>
        </div>

        <div class="box">
          <p>
            <span th:text="${resultId}" th:if="${resultId != null}"></span>
            <span th:text="${error}" th:if="${error != null}"></span>
          </p>
        </div>

      </article>
    </main>

    <th:block th:include="/common/__footer"/>
  </div>
</body>
</html>